@import "colors";

.confirmOrder {
  background-color: $pink;
  height: 70vh;
  width: 100%;
  > main {
    height: 100%;
    background-color: white;
    max-width: 900px;
    margin: auto;
    padding: 2rem;

    > h1 {
      text-transform: uppercase;
      text-align: center;
      margin: 3rem;
      font: 100 3rem "Roboto";
    }

    > form {
      display: flex;
      flex-direction: column;
      align-items: center;

      > div {
        background-color: rgb(233, 233, 233);
        margin: 1rem;
        border-radius: 5px;
        padding: 1rem;
        width: 60%;
        display: flex;
        width: 70%;
        justify-content: space-between;
        align-items: center;
      }

      > button {
        background-color: $red;
        color: white;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 0.5rem 1rem;
        margin: 1rem;
        border-radius: 5px;
        text-align: center;
        font-size: 1.1rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .confirmOrder {
    height: 80vh;

    > main > form {
      > div {
        width: 100%;
      }

      > button {
        width: 100%;
      }
    }
  }
}
